@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #02011b;
  @apply text-white;
}

.header {
  font-size: xx-large;
}
.section-header {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #fdcc49;
}
